<ngx-spinner type="ball-spin-fade"></ngx-spinner>
<!-- formulaire d' enregistrement -->
<form style="text-align: center; padding: 5% 30%;" #formulaire="ngForm" autocomplete="off">
    <h1 class="h3 my-5 fw-normal">Inscription</h1>
    <div class="form-floating mb-4">
      <input name="mail" type="email" class="form-control" [(ngModel)]="user.email" required email #emailInput="ngModel" id="floatingInputE" placeholder="Rechercher un email">
      <label for="floatingInputE">Adresse E-mail</label>
    </div>
    <div class="form-floating mb-4">
      <input type="text" name="name" class="form-control" id="floatingInputN" [(ngModel)]="user.name" required placeholder="Nom">
      <label for="floatingInputN"style="display: inline-flex;"><i style="padding:0 1%" class="bi bi-person"></i><p>Nom d'utilisateur</p></label>
    </div>
    <div class="form-floating mb-4">
      <input type="text" name="adresse" class="form-control" id="floatingInputA" placeholder="Adresse" [(ngModel)]="user.userinformation.address" required>
      <label for="floatingInputA" style="display: inline-flex;"><i style="padding:0 1%" class="bi bi-geo-alt"></i><p>Adresse</p></label>
    </div>
    <div class="form-floating mb-4">
      <input type="text" name="tel" class="form-control" id="floatingInputT" placeholder="Tel" [(ngModel)]="user.userinformation.tel" required>
      <label for="floatingInputT"style="display: inline-flex;"><i style="padding:0 1%" class="bi bi-phone"></i><p>Téléphone</p></label>
    </div>
    <!-- boutton d'enregistrement -->
    <div>
      <button class="btn w-auto py-2 my-5" appColor="color1" [disabled]="formulaire.invalid||emailInput.invalid" (click)="insertUser()" type="submit">S'inscrire</button>
      <p class="text-body-secondary">&copy; 2024</p>  
      <p class="text-body-secondary">[Tous les champs sont obligatoires]</p>  
    </div>
</form>
  